// TODO stillingar hér

// -- Litapallettur --
$black: #000000;
$white: #ffffff;
$lightGreen: #afb281;
$lightBlue: #cee8ff;
$lightYellow: #fcffd2;
$lightRed: #cc9694;

// -- Leturgerðir -- 

// -- Annað -- 
$maxW: 1200px;

//Litapalletta fyrir vef er #000000, #ffffff, #afb281, #cee8ff, #fcffd2 og #cc9694.