@import "config.scss";

footer{
    display: flex;
    background-color: $lightRed;
}

footer h3 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.footer__row{
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-left: 20px;
}

.footer___col{
    display: flex;
    padding-left: 10px;
}

.footer__list{
    margin-top: 10px;
    color: $lightYellow;
}

.footer__content{
    flex-direction: column;
}

.footer__tags{
    display: flex;
    flex-direction: column;
}

.footer__tag{
    margin-top: 10px;
    color: $lightYellow;
    list-style: none;
}

.footer__tag a{
    color: $lightYellow; // kannski aukadrasl?
}

.footer__row::after{
    content: "\00a9 2018 Vöruhúsið";
    width: 100%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

@media (min-width: 500px){
    .footer__row{
        flex-flow: row wrap;
    }

    .footer__col{
        width: 50%;
    }
}

@media (min-width: 1499px){
    .footer__col{
        width: 25%;
    }

    .footer__row{
        width: 100%;
    }

    .footer{
        width: 100%;
    }
}