@import "config.scss";

.forsíða__row{
    display: flex;
    flex-direction: column;

    max-width: $maxw;
    margin: 10px auto;

    background-color: $white;
}

.forsíða__col{
    display: flex;
    flex-flow: column;

    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.forsíða__col:nth-child(odd){
    margin-left: 20px;
}

.forsíða__text{
    font-size: 1.2em;
    margin: 20px 0;
}

.forsíða__col h2{
    margin: 0px;
    margin-left: -20px;
}

.forsíða__button{
}

.forsíða__button button{
    width: 250px;
    height: 40px;  
    border: none;
    border-radius: 5px;
    background-color: $lightRed;
    justify-content: center; 
}

.forsíða__button button:hover{
    background-color: $black;
    color: $white;
    transition-delay: 0.1s; 
}

.reverse{
    flex-flow: column;
}


@media(min-width: 799px){
    .forsíða__row{
        display: flex;
        flex-flow: row;
    }
    .forsíða__col{
        width: 50%;
    }

    .forsíða__row:nth-child(even){
        flex-flow: row-reverse;
    }
}