html {
    box-sizing: border-box;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 16px;
  }

img{
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    flex-direction: column;
    background-color: blue;
}
.header__valmynd{
    display: flex;
    flex-flow: row wrap;
    widows: 100%;
    max-width: 1440px;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
.header__tags{
    display: flex;
    list-style: none;
    margin-top: 10px;
}

.header__tag{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}

.header__karfa{
    display: flex;
    flex-grow: 0;
    margin-top: 10px;
    justify-content: end;
}