@import 'config.scss';

.card {
	padding: 15px;
}

@media (min-width: 1000px) {
	.cards {
		display: flex;
		flex-flow: row wrap; 
		justify-content: space-around;	
	}

	.card {
		display: flex;
		width: 50%;
	}

}

